@import "@fontsource/dm-sans/400.css";
@import "@fontsource/dm-sans/500.css";
@import "@fontsource/dm-sans/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 23% 95%;
    --foreground: 160 30% 16%;

    --card: 36 20% 92%;
    --card-foreground: 160 30% 16%;

    --popover: 36 23% 95%;
    --popover-foreground: 160 30% 16%;

    --primary: 163 30% 17%;
    --primary-foreground: 36 23% 95%;

    --secondary: 36 15% 90%;
    --secondary-foreground: 160 30% 16%;

    --muted: 36 15% 90%;
    --muted-foreground: 160 10% 45%;

    --accent: 163 30% 17%;
    --accent-foreground: 36 23% 95%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 36 15% 85%;
    --input: 36 15% 85%;
    --ring: 163 30% 17%;

    --radius: 9999px;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight text-foreground;
  }
}
